body,
#root,
#auth-form {
  min-height: 100vh;
}

body {
  background-color: whitesmoke;
}

#auth-form {
  background-image: url(./assets/img/bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  /* background-position: center; */

}


@media (max-width: 768px) {
  #add-review-col {
    order: 1;
  }

  #reviews-col {
    order: 2;
  }
}